.work{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
    box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.2);
}
.work h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 26px;
  color: #414141;
  font-weight: 500;
}
.work-social-icons-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
}
.work-social-icons-container img{
    width: 140px;
}
.work-apple-logo{
    padding: 20px 40px;
    width: 140px;
    height: 120px;
}
.work-apple-logo img{
    width: 70px;
    height: 70px;
}
.work-hp-logo{
    padding: 20px 40px;
    width: 140px;
    height: 120px;
}
.work-hp-logo img{
    width: 70px;
    height: 70px;
}